* {
    box-sizing: border-box;
}

body {
    margin: 0;
    
}

.pokemon-list {
    min-height: 100vh;
    background-image: url('img/background.jpeg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

.icon {
    width: 30px;
    height: 30px;
}