* {
    box-sizing: border-box;
}

html {
    position: relative;
}

body {
    margin: 0;
}

.icon {
    width: 30px;
    height: 30px;
}

.blur {
    filter: blur(2px);
}

.detailed-card {
    height: 100vh;
    width: 100%;
    z-index: 1;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
}

#detailed-card-background {
    position: fixed !important;
    top: 50%;
    left: 50%;
    transform: translate(-54%, -48%);
    min-height: 450px;
    min-width: 450px;
    overflow: hidden;
    background-image: url('img/card-background.png');
    background-position: 50% 30%;
    background-size: 72.5% 43%;
    background-repeat: no-repeat;
    border: unset;
}

.general-info {
    display: flex;
}

.card-header {
    position: relative;
}

#close-icon {
    position: absolute;
    top: 10%;
    right: 2%;
    cursor: pointer;
    color: white;
}

.tab-content {
    min-height: 250px;
    background-color: white;
}

.pokemon-list {
    background-image: url('img/background.jpeg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

.pokemon-card {
    box-shadow: 2px 2px 5px 3px rgba(0, 0, 0, 0.15), -2px -2px 5px 3px rgba(0, 0, 0, 0.15);
    background-image: url('img/card-background.png');
    background-position: 50% 30%;
    background-size: 85% 60%;
    background-repeat: no-repeat;
}

.card-img-top {
    transition: transform 100ms ease-in-out;
    width: 75% !important;
    filter: drop-shadow(0 0 10px black);
}

.card-img-top:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.grass-badge {
    background-color: #7ba33f;
}

.grass-card {
    background-color: #9BCC50 !important;
}

.fire-badge {
    background-color: #d36a1e;
}

.fire-card {
    background-color: #FD7D24 !important;
}

.water-badge {
    background-color: #3776a0;
}

.water-card {
    background-color: #4592C4 !important;
}

.bug-badge {
    background-color: #597c32;
}

.bug-card {
    background-color: #729F3F !important;
}

.normal-badge {
    background-color: #82898b;
}

.normal-card {
    background-color: #A4ACAF !important;
}

.poison-badge {
    background-color: #8d6099;
}

.poison-card {
    background-color: #B97FC9 !important;
}

.electric-badge {
    background-color: #c7b22c;
}

.electric-card {
    background-color: #EED535 !important;
}

.ground-badge {
    background-color: #4d452f;
}

.ground-card {
    background-color: #6d6243 !important;
}

.fairy-badge {
    background-color: #cf97be;
}

.fairy-card {
    background-color: #FDB9E9 !important;
}

.fighting-badge {
    background-color: #b1561d;
}

.fighting-card {
    background-color: #D56723 !important;
}

.psychic-badge {
    background-color: #c75397;
}

.psychic-card {
    background-color: #F366B9 !important;
}

.rock-badge {
    background-color: #7c6a19;
}

.rock-card {
    background-color: #A38C21 !important;
}

.ghost-badge {
    background-color: #614d81;
}

.ghost-card {
    background-color: #7B62A3 !important;
}

.ice-badge {
    background-color: #44a6c4;
}

.ice-card {
    background-color: #51C4E7 !important;
}

.dragon-badge {
    background-color: #721111;
}

.dragon-card {
    background-color: #941515 !important;
}

.dark-badge {
    background-color: #575757;
}

.dark-card {
    background-color: #707070 !important;
}

.steel-badge {
    background-color: #7b8e8f;
}

.steel-card {
    background-color: #9EB7B8 !important;
}

.flying-badge {
    background-color: #2a665f;
}

.flying-card {
    background-color: #37877d !important;
}

